html { 
  background: url(../img/Airplane-sunset.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header{
    text-align: center;
    background-color: transparent;
    
}

body{
    background-color: transparent;
    color:white;
}

.carousel-indicators{
    position: relative;
    margin-top: 1.5em;
}

.glyphicon{
    color:white;
}

.controls{
    margin-top: 0.7em;
    text-align: center;
}

form{
    text-align: left;
    float: none;
}
